
OPENAI_API_KEY = <your OpenAI API key>
OAI_X_O365_ASSISTANT_ID = <your assistant id> # you can create this in https://platform.openai.com/playground

# Microsoft Graph
MSGRAPH_ACCESS_TOKEN = <your MS Graph token ID>
